[user]
	name = Toshihiro Suzuki
	email = suzuki@arkedgespace.com
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[alias]
	co = checkout
	br = branch
	st = status
	ci = commit
	superpull = pull upstream master
	superpush = ! git push -u origin $(git rev-parse --abbrev-ref HEAD)

[core]
	editor = nvim
	excludesfile = ~/.gitignore
